<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.task.mapper.TaskMapper">
    
    <resultMap type="Task" id="TaskResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="wxNoticeFrom"    column="wx_notice_from"    />
        <result property="toWho"    column="to_who"    />
        <result property="wxNoticeTo"    column="wx_notice_to"    />
        <result property="endTime"    column="end_time"    />
        <result property="status"    column="status"    />
        <result property="finishTime"    column="finish_time"    />
        <result property="addTime"    column="add_time"    />
        <result property="typeId"    column="type_id"    />
    </resultMap>

    <sql id="selectTaskVo">
        select id, name, wx_notice_from, to_who, wx_notice_to, end_time, status, finish_time, add_time, type_id from task
    </sql>

    <select id="selectTaskList" parameterType="Task" resultMap="TaskResult">
        <include refid="selectTaskVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="wxNoticeFrom != null  and wxNoticeFrom != ''"> and wx_notice_from = #{wxNoticeFrom}</if>
            <if test="toWho != null  and toWho != ''"> and to_who = #{toWho}</if>
            <if test="wxNoticeTo != null  and wxNoticeTo != ''"> and wx_notice_to = #{wxNoticeTo}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="typeId != null "> and type_id = #{typeId}</if>
             status = 0
        </where>
        ORDER BY add_time DESC
    </select>

    <select id="selectAllTaskList" parameterType="Task" resultMap="TaskResult">
        <include refid="selectTaskVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="wxNoticeFrom != null  and wxNoticeFrom != ''"> and wx_notice_from = #{wxNoticeFrom}</if>
            <if test="toWho != null  and toWho != ''"> and to_who = #{toWho}</if>
            <if test="wxNoticeTo != null  and wxNoticeTo != ''"> and wx_notice_to = #{wxNoticeTo}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="typeId != null "> and type_id = #{typeId}</if>
        </where>
        ORDER BY add_time DESC
    </select>

    <select id="selectTaskById" parameterType="Long" resultMap="TaskResult">
        <include refid="selectTaskVo"/>
        where id = #{id}
    </select>

    <insert id="insertTask" parameterType="Task" useGeneratedKeys="true" keyProperty="id">
        insert into task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="wxNoticeFrom != null">wx_notice_from,</if>
            <if test="toWho != null">to_who,</if>
            <if test="wxNoticeTo != null">wx_notice_to,</if>
            <if test="endTime != null">end_time,</if>
            <if test="status != null">status,</if>
            <if test="finishTime != null">finish_time,</if>
            <if test="addTime != null">add_time,</if>
            <if test="typeId != null">type_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="wxNoticeFrom != null">#{wxNoticeFrom},</if>
            <if test="toWho != null">#{toWho},</if>
            <if test="wxNoticeTo != null">#{wxNoticeTo},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="status != null">#{status},</if>
            <if test="finishTime != null">#{finishTime},</if>
            <if test="addTime != null">#{addTime},</if>
            <if test="typeId != null">#{typeId},</if>
         </trim>
    </insert>

    <update id="updateTask" parameterType="Task">
        update task
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="wxNoticeFrom != null">wx_notice_from = #{wxNoticeFrom},</if>
            <if test="toWho != null">to_who = #{toWho},</if>
            <if test="wxNoticeTo != null">wx_notice_to = #{wxNoticeTo},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="finishTime != null">finish_time = #{finishTime},</if>
            <if test="addTime != null">add_time = #{addTime},</if>
            <if test="typeId != null">type_id = #{typeId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTaskById" parameterType="Long">
        delete from task where id = #{id}
    </delete>

    <delete id="deleteTaskByIds" parameterType="String">
        delete from task where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="finshTaskById" parameterType="Long">
        update task set status = 1,finish_time = Now() where id = #{id}
    </update>

    <update id="unfinshTaskById" parameterType="Long">
        update task set status = 0,finish_time = Null  where id = #{id}
    </update>

</mapper>