<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.task.mapper.TypeMapper">
    
    <resultMap type="Type" id="TypeResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="plateId"    column="plate_id"    />
        <result property="douser"    column="douser"    />
    </resultMap>

    <sql id="selectTypeVo">
        select id, name, plate_id, douser from type
    </sql>

    <select id="selectTypeList" parameterType="Type" resultMap="TypeResult">
        <include refid="selectTypeVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="plateId != null "> and plate_id = #{plateId}</if>
            <if test="douser != null  and douser != ''"> and douser = #{douser}</if>
        </where>
    </select>
    
    <select id="selectTypeById" parameterType="Long" resultMap="TypeResult">
        <include refid="selectTypeVo"/>
        where id = #{id}
    </select>

    <insert id="insertType" parameterType="Type" useGeneratedKeys="true" keyProperty="id">
        insert into type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="plateId != null">plate_id,</if>
            <if test="douser != null and douser != ''">douser,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="plateId != null">#{plateId},</if>
            <if test="douser != null and douser != ''">#{douser},</if>
         </trim>
    </insert>

    <update id="updateType" parameterType="Type">
        update type
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="plateId != null">plate_id = #{plateId},</if>
            <if test="douser != null and douser != ''">douser = #{douser},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTypeById" parameterType="Long">
        delete from type where id = #{id}
    </delete>

    <delete id="deleteTypeByIds" parameterType="String">
        delete from type where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>